
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<section>
    <p>select your payment method</p>
    <ul class="list-inline">
        <li class="list-inline-item">@Html.ActionLink("Mercado Pago", "mercadopago", "payment", new { publicOrderId = "1234" }, new { @class = "btn btn-mercardo-pago" })</li>
        <li class="list-inline-item">@Html.ActionLink("PagSeguro", "pagseguro", "payment", new { publicOrderId = "1234" }, new { @class = "btn btn-pagseguro" })</li>
    </ul>
</section>