
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<section>
    <p>select your payment method</p>
    <ul>
        <li><a asp-action="mercadopago" asp-controller="payment">Mercado Pago</a></li>
    </ul>
</section>